[submodule "bundle/MarcWeber-vim-add-mw-utils"]
	path = bundle/MarcWeber-vim-add-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tomtom-tlib_vim"]
	path = bundle/tomtom-tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/tpope-vim-pathogen"]
	path = bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/altercation-vim-colors-solarized"]
	path = bundle/altercation-vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/scrooloose-nerdtree"]
	path = bundle/scrooloose-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Lokaltog-vim-powerline"]
	path = bundle/Lokaltog-vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/majutsushi-tagbar"]
	path = bundle/majutsushi-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/Lokaltog-vim-easymotion"]
	path = bundle/Lokaltog-vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/sjl-gundo"]
	path = bundle/sjl-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/scrooloose-nerdcommenter"]
	path = bundle/scrooloose-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimscripts-javacomplete"]
	path = bundle/vimscripts-javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
